<!DOCTYPE html>
<html>

<head>
	<title>404 Error</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/style.css">	
</head>

<body>
	<div class="main-content">
		{{>header}}

		{{error}}
		<p>
		404 — means not found. Basically, you’re looking for a page but the web application you’re talking to has no idea what you’re talking about. This is almost always what happens when you try to load some random page that doesn’t exist, like www.google.com/sdflkjasdflwjks.
		</p>
	</div>

{{>footer}}
</body>

</html>